#box1 {
    background-color: red;
    margin-left: 150px;
}
#box2 {
    background-color: blue;
    margin-left: 200px;
}
#box3 {
    background-color: black;
    margin-left: 200px;
}
#box4 {
    background-color: blue;
    margin-left: 200px;
}
.box {
    height: 150px;
    width: 150px;
    margin-top: 300px;
    float: left;
}
#resultaten img {
    width: 200px;
    height: 200px;
    image-rendering: pixelated; /* maakt sprites mooi retro */
}
